:root {
  --text: hsl(0, 0%, 95%);
  --red: #834;
  --green: #384;
  --blue: #348;
  --cyan: #378;
  --magenta: #837;
  --yellow: #873;

  --background: #040514;
  --backgroundnav: #080a1e;
  --backgrounddiv: #14152f;
  --redbackground: #713;
  --greenbackground: #173;
  --bluebackground: #137;

  --highlight: #24254f;

  --SWAP-background: #027;
  --SWAP-highlight: #138;
}
